body {
    background: rgb(250, 205, 168);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serife;
    margin: 0;
    padding: 0;
}

/* HEADER  */
header {
    background: rgb(253, 183, 183);
    background-image: url(images/estantedelivros.jpg);
    background-size: 100%;
    background-position: center;
    height: 260px;
    padding: 20px;
    text-align: center;          
}
h1 {
    color: white;
    font-family: Dancing Script
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
li {
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 383px) {
    
}

/* SECTION */ 
section {
    background: whitesmoke;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* FEATURES on the index page*/
.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features figure {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: end;
    width: 100px;
    width: 100%;
}
.features figure img {
    border-radius: 50px;
    width: 200px
}

/* DIVS OF THE SECONDARY PAGES*/
div {
    background: rgb(225, 210, 250);
    margin: auto;
    width: 200px;
    border-radius: 4px;
}

/* FEATURES on the books page*/
.genres {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.genres figure {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: end;
    width: 100px;
    width: 100%;
}
.genres figure img {
    border-radius: 50px;
    width: 200px
}

/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
