body {
    background: rgb(250, 205, 168);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serife;
    margin: 0;
    padding: 0;
}
header {
    background: rgb(253, 183, 183);
    background-image: url(images/estantedelivros.jpg);
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;          
}
h1 {
    color: white;
    font-family: Dancing Script;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}
section {
    background: whitesmoke;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: rgb(225, 210, 250);
    margin: auto;
    width: 100px;
    border-radius: 4px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 10px;
}
footer {
    background: black;
    color: white;
    padding: 10px 20px;
}
